<%- include("partials/header-logged-in") -%>

    <%  posts.forEach(function(post){ %>

        <h1>
            <%=post.title%>
        </h1>
        <p>
            <%=post.content.substring(0, 350) + " ..."%>
                <a href="/posts/<%=post.id%>">Read More</a>
        </p>


        <% }) %>

            <%- include("partials/footer") -%>